---
import Layout from "../../layouts/Layout.astro";
import Countdown from "../../components/Countdown.astro";
---

<Layout title="Mini App - Countdown" bgcolor="">
  <main>
    <Countdown />
  </main>
</Layout>
