---
import { gsap } from "gsap";
import Layout from "../layouts/Layout.astro";
import Box from "../components/Box.astro";
---

<Layout title="rickyrazhari - Mini App">
  <main>
    <h1 class="font-bold flex justify-center text-xl py-8">
      Mini App Collections
    </h1>
    <ul class="grid grid-cols-3 gap-24 px-32 pt-12">
      <Box alt="Avatar" src="https://www.w3schools.com/howto/img_avatar2.png" />
    </ul>
  </main>
</Layout>
