---
export interface Props {
  src: string;
  alt: string;
  href: string;
}
const { src, alt, href } = Astro.props;
---

<li class="h-48 shadow-lg">
  <a href={href}>
    <img
      src={src}
      alt={alt}
      class="object-cover w-full h-full rounded-md"
      id="grid__item"
    />
  </a>
</li>
