<section>
  <header>
    <h1>My Todo List</h1>
  </header>
  <form>
    <input type="text" class="todo-input" />
    <button class="todo-button" type="submit">
      <i class="fas fa-plus-square"></i>
    </button>
    <div class="select">
      <select name="todos" class="filter-todo">
        <option value="all">All</option>
        <option value="completed">Completed</option>
        <option value="uncompleted">Uncompleted</option>
      </select>
    </div>
  </form>
  <div class="todo-container">
    <div class="todo-list"></div>
  </div>
</section>

<style>
  body {
    background: linear-gradient(135deg, #98d5f2, #c0e5f7);
    background-repeat: no-repeat;
    min-height: 100vh;
  }

  h1 {
    font-weight: bold;
    font-size: 2rem;
  }

  header,
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 22vh;
    color: black;
  }

  input:focus,
  textarea:focus,
  select:focus {
    outline: none;
  }

  form input {
    padding: 1rem;
    font-size: 1rem;
  }

  form .todo-button {
    background-color: #c0e5f7;
    padding: 1rem 1.2rem;
    color: #5885af;
    cursor: pointer;
    transition: all 0.7s ease;
  }

  form .todo-button:hover {
    background-color: #98d5f2;
  }

  .todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .todo-list {
    list-style: none;
    min-width: 30%;
  }

  .todo {
    margin: 0.5rem;
    font-size: 1.2rem;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  /* transition untuk mengatur kecepatan animasi*/

  .todo li {
    flex: 1;
  }

  .trash-btn,
  .completed-btn {
    background-color: #b3c6dd;
    padding: 1rem;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }

  .completed-btn {
    background-color: #5885af;
  }

  .todo-item {
    padding: 0rem 0.5rem;
  }

  .fa-trash,
  .fa-check {
    pointer-events: none;
  }

  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .fall {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
  }

  /* Select Style */

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
    background-color: white;
  }

  .select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
  }

  select {
    color: #5885af;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    font-weight: 600;
    font-size: 1rem;
  }

  .select::after {
    content: "\25BC";
    display: absolute;
    top: 0px;
    right: 0px;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.7s ease;
    background-color: #c0e5f7;
    color: #5885af;
  }

  .select:hover::after {
    background-color: #98d5f2;
  }
</style>

<script is:inline>
  //Selectors
  const todoInput = document.querySelector(".todo-input");
  const todoButton = document.querySelector(".todo-button");
  const todoList = document.querySelector(".todo-list");
  const filterOption = document.querySelector(".filter-todo");
</script>
